$theme-dark: #151515;
$red: #e21e22;
$red_second: #d99a29;
$red-alpha-75: rgba(240, 0, 40, 0.75);
$white: #fff;
$white-alpha: rgba(255, 255, 255, 0.4);
$white-alpha-75: rgba(255, 255, 255, 0.75);
//$red_soccer: #e21e22;
$dark-bg: #191a33;
/*American football*/

$black: #000000;
$theme-dark-blue: #06083b;
$theme-brown: #da9a29;
$blue: #4a89dc;
$light-gray: #cccccc;
$light-gray-bf: #bfbfbf;
$gray-99: #999999;
$gray-80: #808080;
$gray-80-rgba: rgba(128, 128, 128, 0.75);
$gray-60: #595960;
$gray-59: #595959;
$gray-52: #525252;
$gray-40: #404040;
$divider: #444668;
$widjet-title-bg: #43445c;
$widjet-feature: #040526;
$gray-divider: #d8d8d8;
$gray-bg: #f0f0f0;
$gray-db: #dbdbdb;
$gray-f3ef: #f3f3ef;
$gray-f4: #f4f4f4;
$gray-f5: #f5f5f5;
$gray-f6: #f6f6f6;
$gray-7f: #7f7f7f;
$gray-e1: #e1e1e1;
$gray-table: #6f6d6e;
$white-alpha-af: rgba(255, 255, 255, 0.5);
$white-alpha-af-03: rgba(255, 255, 255, 0.3);

/*Soccer*/
$red_soccer: #00aaff;
$red_soccer_hover: #039ce9;
$black_soccer: #151618;
$blue: #698bcc;
$blue-link: #428bca;
$dark_gray: #475058;
$dark_gray_bg: #394046;
$gray-b2: #b2b2b2;
$gray-41: #414141;
$gray-d7d6: #d7d6d6;
$gray-d9: #d9d9d9;
$gray-ed: #ededed;
$gray-e6: #e6e6e6;
$gray-ec: #ececec;
$gray-86: #868686;
$gray-8d: #8d8d8d;
$gray-tabs-inactive: #3f4851;
$tickets-bg: #3a4147;
$btn-gray: #282f36;
$black-22: #222222;
$gray-77: #777777;

/*Baseball*/
$bsb-black-26: #262626;
$bsb-black-30-hover: #303030;
$bsb-base: #e21e22;
$bsb-second: #a10a0d;
$bsb-gray-3b: #3b3b3b;
$bsb-gray-metric-desc: #191315;
$bsb-gray-author: #232628;

/*magazine*/
$mg-blue: #00bfe6;
$green: #44cc00;

/*Soccer News*/
$main: #37003c;
$secondary: #e700fc;
$thirty: #ebff00;
$fourth: #000;

/*Basketball Two*/
$bt_main_color: #552085;
$bt_secondary_color: #ffba00;
$bt_thirty_color: #bfbfbf;
$bt_fourth_color: #0e1d1f;

$main_font: 'Poppins';
$secondary_font: 'Open Sans';

/*Hockey*/
$red_hc: #f53837;
$sec_hc: #1f3b79;
$grey33: #333333;