.stm-player-statistic-football.style_esport .owl-controls {
  display: none !important; }

.stm-player-statistic-football.style_esport .stm-carousel-controls-right {
  text-align: left !important;
  margin-bottom: 30px; }

.stm-player-statistic-football.style_esport .stm-main-title-unit {
  padding-left: 25px;
  border-left: 5px #e21e22 solid;
  margin-bottom: 40px; }

.stm-player-statistic-football.style_esport .stm-statistic-meta .player-meta-name_number .title {
  border-bottom: none !important; }
  .stm-player-statistic-football.style_esport .stm-statistic-meta .player-meta-name_number .title a {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff !important; }

.stm-player-statistic-football.style_esport .stm-statistic-meta .stm-custom-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .stm-player-statistic-football.style_esport .stm-statistic-meta .stm-custom-row .col-39 {
    -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    width: 50%;
    padding: 0 15px; }
    .stm-player-statistic-football.style_esport .stm-statistic-meta .stm-custom-row .col-39 .number_position_wrapp {
      margin-bottom: 20px; }
    .stm-player-statistic-football.style_esport .stm-statistic-meta .stm-custom-row .col-39 .stm-quick-sts {
      margin-bottom: 20px; }
    .stm-player-statistic-football.style_esport .stm-statistic-meta .stm-custom-row .col-39 .stm-quick-sts,
    .stm-player-statistic-football.style_esport .stm-statistic-meta .stm-custom-row .col-39 .position {
      margin-top: 0;
      font-size: 18px;
      text-transform: none; }

.stm-player-statistic-football.style_esport .stm-player-statistic-unit .stm-single-player-vc_stats .stm-statistic-meta .stm-metric-wrapp .stm-metric tr.even td {
  background: transparent !important; }

.stm-player-statistic-football.style_esport .stm-player-statistic-unit .stm-single-player-vc_stats .stm-statistic-meta .stm-metric-wrapp .stm-metric tr.odd td {
  background: #1A1D1F !important; }

.stm-player-statistic-football.style_esport .stm-single-player-vc_stats .player_number {
  transform: translateX(-50%);
  margin: 0;
  width: 80px;
  background: #ffb400;
  position: relative;
  top: 0;
  left: 50%;
  font-size: 25px;
  line-height: 25px;
  padding-top: 13px;
  padding-bottom: 7px;
  transition: .3s;
  display: block;
  text-align: center;
  font-weight: 700; }
  .stm-player-statistic-football.style_esport .stm-single-player-vc_stats .player_number:before {
    content: '';
    display: block;
    position: absolute;
    bottom: -14px;
    width: 100%;
    height: 15px;
    -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
            clip-path: polygon(50% 100%, 0 0, 100% 0);
    background: #ffb400;
    transition: .3s; }
  @media (max-width: 767px) {
    .stm-player-statistic-football.style_esport .stm-single-player-vc_stats .player_number {
      display: none; } }

.stm-player-statistic-football.style_esport .stm-single-player-vc_stats .image + .player_number {
  transform: translate(-50%, -50%); }

@media (max-width: 767px) {
  .stm-player-statistic-football.style_esport .stm-single-player-vc_stats .image {
    margin-bottom: 30px; } }
